body{
    background-color: #3172DC;
    color: white;
}

.main-container{
    margin-top:100px;
}

.vertical-line{
    border-right: thin solid white;
}

.profile-image{
    vertical-align: middle;
    width: 80%;
    height: auto;
}

.profile-container{
    text-align: center;
}

.profile-name{
    margin-top: 20px;
}

.contact-list{
    list-style-type: none;
    text-align: center;
}
