.main-container{
    margin-top:100px;
}

.vertical-line{
    border-right: thin solid black;
}

.profile-image{
    vertical-align: middle;
    width: 80%;
    height: auto;
}

.profile-container{
    text-align: center;
}

.profile-name{
    margin-top: 20px;
    margin-bottom:10px;
}

.profile-subtext{
    color:gray;
    margin-top: 0;
}

.contact-list{
    list-style-type: none;
}

.contact-list li{
    display:inline-block;
    margin-right:10px;

}

.contact-list a{
    margin: 0;
    width: 130px;
}

.company-icons{
    width:100px;
    height:auto;
}
