html * {
    font-family: Merriweather !important;
}

.main-container {
    margin-top: 40px;
}

.profile {
    text-align: center;
    margin-bottom: 10px;
}

.profile-image {
    vertical-align: middle;
    width: 40%;
    height: 40%;
}

@media screen and (min-width: 480px) {
    .profile-image {
        vertical-align: middle;
        width: 30%;
        height: 30%;
    }
}

.profile-container {
    text-align: center;
}

.profile-name {
    margin-top: 20px;
    margin-bottom: 5px;
}

.profile-subtext {
    color: gray;
    margin-top: 0;
}

.contacts {
    text-align: center;
    position: relative;
}

.contacts ul {
    list-style-type: none;
}

.contacts li {
    display: inline;
}

.link {
    color: #e80e49;
    text-decoration: none;
}
