<div class="container main-container">
  <div class="profile">
    <div style="text-align:center">
      <img src="images/profile.jpg" class="profile-image">
      <h4 class="profile-name">Sujay Khandekar</h4>
      <span class="profile-subtext">Programmer</span>
    </div>
  </div>

  <div>
    <section class="contacts">
      <ul>
        <li ng-repeat="c in contactLinks">
          <a href="{{c.link}}" class="link">{{c.name}}</a>
          <span ng-hide="{{$last}}"> &diams; </span>
        </li>
      </ul>
    </section>
    <section>
      <h5>About</h5>
      <p>
        I am currently an undergraduate at the <img src="images/uiuc-icon.jpg" style="height:20px;width:auto;vertical-align: top;"></img>
        <a class="link" href="http://illinois.edu">University of Illinois: Urbana-Champaign </a>
        , pursuing a degree in Computer Science and a minor in
        <a class="link" href="http://www.techmgmt.illinois.edu/">Technology & Management.</a>
        My primary fields of focus are UI/UX and HCI. I also enjoy running and listening to any sort of music in my spare time.
      </p>
    </section>
    <section>
      <h5>Projects</h5>
      <p>
        Coming Soon!
      </p>
    </section>
  </div>
</div>
