<div class="container main-container">
  <div class="row">

    <div class="column profile">
      <div style="text-align:center">
        <img src="images/profile.jpg" class="profile-image">
        <h4 class="profile-name">Sujay Khandekar</h4>
        <span class="profile-subtext">Front-end Developer</span>
      </div>
    </div>

    <div class="column">
      <section>
        <h5>About</h5>
        <p>
          I am currently an undergraduate at the <img src="images/uiuc-icon.jpg" style="height:20px;width:auto;vertical-align: top;"></img>
          University of Illinois: Urbana-Champaign, pursuing a degree in Computer Science and a minor in Technology & Management.
          My primary fields of focus are UI/UX and HCI. I also enjoy running and listening to any sort of music in my spare time.
        </p>
      </section>
      <section>
        <h5>Contact</h5>
        <ul class="contact-list">
          <li ng-repeat="item in contactLinks">
            <a href="{{item.link}}" class="button button-link-width">{{item.name}}</a>
          </li>
        </ul>
      </section>
      <section style="color:gray;text-align: center;">
        <i>{{quote}}</i>
      </section>
    </div>

  </div>
</div>
