<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#page-top" style="font-size:25px">Sujay Khandekar</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
          <a href="#about">About</a>
        </li>
        <li class="page-scroll">
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header class="gray-background">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img src="../images/profile.png" class="img-responsive" style="margin-top:-15px">
        <div class="intro-text">
          <span class="name">Sujay Khandekar</span>
          <span class="skills">Front-end Developer - Tech & Business Enthusiast</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am currently a sophomore Computer Science student at the University of Illinois: Urbana-Champaign.</p>
      </div>
      <div class="col-lg-4">
        <p>Along with programming, I love playing sports, listening to hard rock, reading, and playing my guitar and sitar.</p>
      </div>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 style="color:black">Find Me</h2>
        <ul class="list-inline" style="margin-top:50px">
          <li>
            <a href="https://www.facebook.com/sujay.khandekar" class=" btn-outline"><i class="fa fa-fw fa-facebook fa-4x"></i></a>
          </li>
          <li>
            <a href="https://plus.google.com/105856798281199967470/posts" class="btn-outline"><i class="fa fa-fw fa-google-plus fa-4x"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/sujaykhandekar" class="btn-outline"><i class="fa fa-fw fa-twitter fa-4x"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/sujaykhandekar" class="btn-outline"><i class="fa fa-fw fa-linkedin fa-4x"></i></a>
          </li>
          <li>
            <a href="images/resume.pdf" class="btn-outline"><i class="fa fa-fw fa-file-text-o fa-4x"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="text-center">
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; Sujay Khandekar 2014  |  <a href="http://startbootstrap.com" style="color:grey">Start Bootstrap</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visble-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
