<div class="container main-container">
  <div class="row">

    <div class="one-half column vertical-line">
      <div style="text-align:center">
        <img src="images/profile.jpg" class="profile-image">
        <h4 class="profile-name">Sujay Khandekar</h4>
      </div>
    </div>

    <div class="one-half column">
      <section>
        <ul class="contact-list">
          <li ng-repeat="item in contactLinks">
            <a href="{{item.link}}" class="button"><i class="{{item.icon}}" style="color:white"></i></a>
          </li>
        </ul>
      </section>
    </div>

  </div>
</div>

<footer class="text-center">
  Copyright &copy; Sujay Khandekar 2015
</footer>
