<style>
    ul{
        list-style: none;
    }
</style>
<div style="width:50%;margin: 0 auto; text-align: center">
    <h1>Splash</h1>
    <p>Hi Splash! Thank you for attending my class. I've listed some resources below that can help you get started with development. <br>Feel free to reach out to me at khandek2@illinois.edu for any other questions! </p>
    <a href="../images/presentation.pdf">My Splash Powerpoint</a>
    <br>
    <h2 style="color: grey">HTML Resources</h2>
    <ul>
        <li><a href="http://www.w3schools.com/">W3Schools</a></li>
    </ul>
    <h2 style="color: grey">CSS Resources</h2>
    <ul>
        <li><a href="http://www.w3schools.com/">W3Schools</a></li>
        <li><a href="https://css-tricks.com/">CSS-Tricks</a></li>
    </ul>
    <h2 style="color: grey">Javascript Resources</h2>
    <ul>
        <li><a href="https://developer.mozilla.org/en-US/">Mozilla Developer Network</a></li>
        <li><a href="http://eloquentjavascript.net/">Eloquent Javascript</a></li>
    </ul>
    <h2 style="color: grey">Helpful Tutorials</h2>
    <ul>
        <li><a href="http://www.codeschool.com">Codeschool</a></li>
        <li><a href="http://www.codecademy.com">Codecademy</a></li>
        <li><a href="http://www.customfitonline.com/news/2014/9/10/getting-started-in-web-development/">Getting Started With Web Development</a></li>
        <li><a href="https://egghead.io/">egghead.io</a></li>
        <li><a href="http://readwrite.com/2013/09/30/understanding-github-a-journey-for-beginners-part-1#awesm=~owWaKbpGqnC0Vd">Getting Started with Github</a></li>
        <li><a href="https://pages.github.com/">Github Pages</a></li>
    </ul>

    <h2 style="color: grey">Cool Libraries & Frameworks</h2>
    <ul>
        <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
        <li><a href="https://angularjs.org/">AngularJS</a></li>
        <li><a href="http://sass-lang.com/">Sass</a></li>
        <li><a href="https://jquery.com/">jQuery</a></li>

    </ul>

</div>
