

.main-container{
    margin-top:40px;
}

.profile{
    text-align: center;
    margin-bottom: 10px;
}

.profile-image{
    vertical-align: middle;
    width: auto;
    height: 400px;
}

.profile-container{
    text-align: center;
}

.profile-name{
    margin-top: 20px;
    margin-bottom:5px;
}

.profile-subtext{
    color:gray;
    margin-top: 0;
}

.contact-list{
    list-style-type: none;
}

.contact-list li{
    display:inline-block;
    margin-right:10px;
}

.company-icons{
    width:100px;
    height:auto;
}

@media (max-width: 745px) {
    .contact-list a{
        width: 100px;
        text-align: center;
        font-size: 7px;
     }
}

@media (min-width: 746px) and (max-width: 1440px) {
    .contact-list a{
        margin: 0;
        width: 130px;
    }
}